In [1]:
import pandas as pd
import numpy as np

#### Задание 1

In [2]:
tabledata1 = [[1, 12, 14],
             [2, 10, 18],
             [3, 10, 13],
             [4, 8, 10],
             [5, -5, 12],
             [6, -3, -7],
             [7, 10, -2],
             [8, 7, 10]]

In [3]:
df1 = pd.DataFrame(tabledata1, columns = ["Периоды", "Доходность актива Х", "Доходность актива Y"])
df1

   Периоды  Доходность актива Х  Доходность актива Y
0        1                   12                   14
1        2                   10                   18
2        3                   10                   13
3        4                    8                   10
4        5                   -5                   12
5        6                   -3                   -7
6        7                   10                   -2
7        8                    7                   10

In [4]:
corr_matrix = df1.loc[:, ['Доходность актива Х', 'Доходность актива Y']].corr()
corr_matrix

                     Доходность актива Х  Доходность актива Y
Доходность актива Х             1.000000             0.396721
Доходность актива Y             0.396721             1.000000

In [5]:
corr_matrix.loc['Доходность актива Х', 'Доходность актива Y']

0.39672063405755487

#### Задание 2

In [6]:
tabledata2 = [[-2, 0.1, 0, 0.2],
             [0, 0.05, 0.2, 0],
             [1, 0, 0.2, 0.05],
             [7, 0.1, 0, 0.1]]

In [7]:
df2 = pd.DataFrame(tabledata2, columns=["X/Y", "-6", "0", "3"])
df2

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

In [8]:
cov_matrix = df2.cov()
cov_matrix

           X/Y        -6         0         3
X/Y  15.000000  0.041667 -0.133333 -0.058333
-6    0.041667  0.002292 -0.005000  0.002708
0    -0.133333 -0.005000  0.013333 -0.008333
3    -0.058333  0.002708 -0.008333  0.007292

In [9]:
cov_ = cov_matrix.loc['X/Y'][0]
cov_

15.0

#### Задание 3

In [10]:
df2.corr()

          X/Y        -6         0         3
X/Y  1.000000  0.224733 -0.298142 -0.176383
-6   0.224733  1.000000 -0.904534  0.662541
0   -0.298142 -0.904534  1.000000 -0.845154
3   -0.176383  0.662541 -0.845154  1.000000

#### Задание 4

1) Площадь квартиры и стоимость

2) Рост и вес человека

3) Рост безработицы и количество преступлений

4) Уровень общительности и количество друзей

5) Рост продаж и прибыль

#### Задание 5

1) Увеличение налогов и довольство граждан

2) Падение цен на нефть и курс доллара

3) Время, затраченное на подготовку к тесту и количество ошибок в тесте

4) Количество скандалов и репутация

5) Количество умных роботов (андроидов) и рабочие места :)