In [1]:
import pandas as pd
import numpy as np

#### Задание 1

In [2]:
k = 3

n1 = 5
n2 = 5
n3 = 5
n = n1 + n2 + n3
print(n)

15

In [3]:
y1 = np.array([18, 28, 12, 14, 32], dtype = np.float64)
y2 = np.array([24, 36, 28, 40, 16], dtype = np.float64)
y3 = np.array([36, 12, 22, 45, 40], dtype = np.float64)

In [4]:
df = pd.DataFrame([y1, y2, y3]).T
df.columns = ['Ф1', 'Ф2', 'Ф3']
df

     Ф1    Ф2    Ф3
0  18.0  24.0  36.0
1  28.0  36.0  12.0
2  12.0  28.0  22.0
3  14.0  40.0  45.0
4  32.0  16.0  40.0

In [5]:
y1_mean = np.mean(y1)
print(y1_mean)

20.8

In [6]:
y2_mean = np.mean(y2)
print(y2_mean)

28.8

In [7]:
y3_mean = np.mean(y3)
print(y3_mean)

31.0

In [8]:
y_all = np.concatenate([y1, y2, y3])
y_all

array([18., 28., 12., 14., 32., 24., 36., 28., 40., 16., 36., 12., 22.,
       45., 40.])

In [9]:
y_mean = np.mean(y_all)
print(y_mean)

26.866666666666667

In [10]:
s2 = np.sum((y_all - y_mean)**2)
s2

1705.7333333333331

In [11]:
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

288.1333333333333

In [12]:
s2_residual = np.sum((y1 - y1_mean)**2) + np.sum((y2 - y2_mean)**2) + np.sum((y3 - y3_mean)**2)
s2_residual

1417.6

In [13]:
print(s2)
print(s2_f + s2_residual)

1705.7333333333331
1705.7333333333331

In [14]:
sigma2_general = s2 / (n - 1)
sigma2_general

121.83809523809522

In [15]:
sigma2_f = s2_f / (k - 1)
sigma2_f

144.06666666666666

In [16]:
sigma2_residual = s2_residual / (n - k)
sigma2_residual

118.13333333333333

In [17]:
F_h = sigma2_f / sigma2_residual
F_h

1.219525959367946

In [18]:
df_horizontal = 3 - 1
df_vertical = 15 - 3
print('df_horizontal:', df_horizontal)
print('df_vertical:', df_vertical)

df_horizontal: 2
df_vertical: 12

In [19]:
# по таблице
F_crit = 3.88
print(F_crit)

3.88

F_h < F_crit, значит различие средних значений в трёх группах стастистически незначимо.

In [20]:
eta2 = s2_f / s2
eta2

0.16892050340029705

Значение эты в квадрате близко к 0, то есть различие средних значений в трёх группах статистически незначимо.

#### Задание 2

Теория вероятности кажется более сложной темой, поскольку даже формулы не дают однозначного понимания. Иногда не очень понятно, почему нужно использовать ту или иную формулу) Но в целом базовые вещи освоены, можно будет почитать литературу (только нужно выбрать - какую, а то различных книг много, а времени  - не очень)). Со статистикой формулы более понятны, но мало материала и практики.